// header.pug - Rodrigo Lima - https://rodrigolima-portfolio.herokuapp.com/ - Nav bar as header


// The bootstrap theme is copied from bootstrap website. https://getbootstrap.com/
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css">
nav.navbar.navbar-light(style='background-color: #efeff5;')
    a(href="/") Home
    a(href="/aboutme") About Me
    a(href="/projects") Projects
    a(href="/services") Services
    a(href="/contactme") Contact Me