extends layout

block content
  doctype html
  html(lang='en')
  title  Rodrigo Lima 
  meta(charset='UTF-8')
  .container
    section.abt
  div
    img.mainImage(src='images/ok.jpg', alt='baseball game')
    a#about
      h1  About Me
      p
    | Hello, folks! My name is Rodrigo Lima, 24 years old and I was born and raised in Rio de Janeiro, Brazil.
    br
    br
    |       I am an economist from Federal Flumininse University, graduated in 2017. I came to Canada to improve my abilities in programming and information techonology.
    br
    |       I'm in the last year of Computer Programmer course in Georgian College. In my first semester I studied Webprogramming (HTML/CSS and Javascript), Java, Networking Essentials, Arduino and Mathematics for Computer Indutry.
    br
    br
    |       My main objective in life is to help people with their problems and dificulties, making this world a better place to live with less wealth inequality.
    br
    br
    |         In my humble opinion, the profession of programmer is totally linked with this goal, because the programs we develop intend to make daily tasks of our lives easier and we can also bring technologies to remote areas keeping this world connected.
    br
    br
    br

