extends layout

block content
  .container
    h1 About me
    ul
      li I am from Brazil
      li I'm an economist since 2017 graduated from the Federal University
      li I love to play soccer and hate the winter season

