extends layout

block content
  doctype html
  html(lang='en')
  title  Rodrigo Lima 
  meta(charset='UTF-8')
  .container
    section.abt
  div
    img.mainImage(src='images/ok.jpg', alt='baseball game')
    a#about
      h1  About Me
      p
    | Hello, folks! My name is Rodrigo Lima, 24 years old and I was born and raised in Rio de Janeiro, Brazil.
    br
    br
    |       I am an economist from Federal Flumininse University graduated in 2017. I came to Canada to improve my abilities in programming and information techonology.
    br
    |       I'm enrolled in Computer Programmer course in Georgian College. In my first semester I studied Webprogramming (HTML/CSS and Javascript), Java, Networking Essentials, Arduino and Mathematics for Computer Indutry.
    br
    br
    |       My objective in life is helping people with their problems and dificulties to make this world a better place to live.
    br
    |         In my humble opinion, the profession of programmer is totally linked with this goal, because the programs we develop intends to make easier the tasks of our lives.
    br

