extends layout

block content
  //- .container
  //- h1 Contact Me
  //- p Don't hesitate in contacting me by email: 200380021@student.georgianc.on.ca 
  //- p Rodrigo Lima
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Contact Me

        // register form
        form(method='POST' action='/register')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Do not lie your name' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com' name='email')
          div.form-group
            label(for='favoriteBook') Favorite Book:
            input#favoriteBook.form-control(type='text', placeholder='1984 is a great one tbh' name='favoriteBook')
          div.form-group
            label(for='message') Your message:
            input#message.form-control(type='text', placeholder='Tell me something nice' name='message')
          button.btn.btn-primary(type='submit') Send me an e-mail