extends layout

block content
  //- .container
  //- h1 Contact Me
  //- p Don't hesitate in contacting me by email: 200380021@student.georgianc.on.ca 
  //- p Rodrigo Lima
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2 Contact Me

        // register form
        form(method='POST' action='/register')
          div.form-group
            label(for='name') Name:
            input#name.form-control(type='text', placeholder='Do not lie here' name='name')
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='name@email.com - Straight forward, eh?' name='email')
          div.form-group
            label(for='favoriteBook') Favorite Book:
            input#favoriteBook.form-control(type='text', placeholder='1984 is a great one tbh' name='favoriteBook')
          div.form-group
            label(for='message') Your message:
            input#message.form-control(type='text', placeholder='Tell me something nice' name='message')
          button.btn.btn-primary(type='submit') Send me an e-mail
          br
          br
          br
          //Some social media icons
          section
          link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
          section.logos
          a.fa.fa-facebook(href='https://www.facebook.com/rodrigolimao/')
          a.fa.fa-instagram(href='https://www.instagram.com/rodrigolemon/')
          a.fa.fa-linkedin(href='https://www.linkedin.com/in/rodrigoclimao/')
          a.fa.fa-github-alt(href='https://github.com/rodrigolimao')
          a.fa.fa-google-plus(href='https://plus.google.com/u/0/108770493442574991456')