extends layout

block content
  .container
  h1 My Skills and Experience
  br
  section.skills
  a#work
    h3  Summary of my experience
  br
  ul
    li Experience in the Ontario Ministry of Education in the QA team.
    br
    li Advanced knowledge in Java testing automation using Selenium;
    br
    li 5 years experience as an Internal Auditor in Rio de Janeiro, Brazil;
    br
    li Advanced knowledge in Office Package;
    br
    li Highly organized and dedicated to work;
    br
    li Dynamic personality and great team player;
    br
    li
      | Advanced oral and written communication skills in English, Portuguese, Spanish and Italian.

      //Adding some photos of technologies in a grid container
    section.photo-grid-container
    .photo-grid
    .photo-grid-item
      img(src='images/java.png', alt='java')
    .photo-grid-item
      img(src='images/html.png', alt='html')
    .photo-grid-item
      img(src= 'images/css.png', alt='css')
    .photo-grid-item
      img(src ='images/js.png', alt='javascript')