extends layout

block content
  .container
  h1 Services
  br
  section.services
  br
  ul
    li BackEnd Development using Node.JS or Java.
    br
    li Java testing automation using Selenium;
    br
    li Information Technology Audit;
    br
    li VBA Programming for excel automation;
    br
